## Зачетная работа по курсу «Машинное обучение и искусственный интеллект» ##

#### Копикова Софья ####
#### магистратура, 1 курс ####
#### 525 группа ####

In [1]:
import pandas as pd
import numpy as np
from numpy import inf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

Ссылка на данные: https://archive.ics.uci.edu/ml/datasets/Forest+Fires

В описании сказано: "This is a very difficult regression task."

In [2]:
# Загрузка данных
file_path = 'forestfires.csv'
df = pd.read_csv(file_path)
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [3]:
y = df["area"].to_frame()
y = y.astype('float')
X = df.loc[:, list(set(df.columns) - {"area"})]

In [4]:
def do_replace(X):
    ans = X.replace(["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"], 
                    [ 0,     1,     2,     3,     4,     5,     6,     7,     8,     9,     10,    11])
    
    ans = ans.replace(["mon", "tue", "wed", "thu", "fri", "sat", "sun"], 
                      [ 0,     1,     2,     3,     4,     5,     6])
    
    return ans

In [5]:
X = do_replace(X)
X = X.astype('float')

In [6]:
X

       X  rain  month     DC  wind   ISI    Y  day    RH  temp  FFMC    DMC
0    7.0   0.0    2.0   94.3   6.7   5.1  5.0  4.0  51.0   8.2  86.2   26.2
1    7.0   0.0    9.0  669.1   0.9   6.7  4.0  1.0  33.0  18.0  90.6   35.4
2    7.0   0.0    9.0  686.9   1.3   6.7  4.0  5.0  33.0  14.6  90.6   43.7
3    8.0   0.2    2.0   77.5   4.0   9.0  6.0  4.0  97.0   8.3  91.7   33.3
4    8.0   0.0    2.0  102.2   1.8   9.6  6.0  6.0  99.0  11.4  89.3   51.3
..   ...   ...    ...    ...   ...   ...  ...  ...   ...   ...   ...    ...
512  4.0   0.0    7.0  665.6   2.7   1.9  3.0  6.0  32.0  27.8  81.6   56.7
513  2.0   0.0    7.0  665.6   5.8   1.9  4.0  6.0  71.0  21.9  81.6   56.7
514  7.0   0.0    7.0  665.6   6.7   1.9  4.0  6.0  70.0  21.2  81.6   56.7
515  1.0   0.0    7.0  614.7   4.0  11.3  4.0  5.0  42.0  25.6  94.4  146.0
516  6.0   0.0   10.0  106.7   4.5   1.1  3.0  1.0  31.0  11.8  79.5    3.0

[517 rows x 12 columns]

In [7]:
X = np.array(X)
y = np.array(y)

In [8]:
X

array([[  7. ,   0. ,   2. , ...,   8.2,  86.2,  26.2],
       [  7. ,   0. ,   9. , ...,  18. ,  90.6,  35.4],
       [  7. ,   0. ,   9. , ...,  14.6,  90.6,  43.7],
       ...,
       [  7. ,   0. ,   7. , ...,  21.2,  81.6,  56.7],
       [  1. ,   0. ,   7. , ...,  25.6,  94.4, 146. ],
       [  6. ,   0. ,  10. , ...,  11.8,  79.5,   3. ]])

In [9]:
from sklearn.base import BaseEstimator, ClassifierMixin

class MyLinearRegression(BaseEstimator, ClassifierMixin):
    
    def __init__(self):
        pass
        
    
    def fit(self, X, y):        
        self.weights_matrix = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)
        print("weights_matrix.shape: ", self.weights_matrix.shape)
                
        return self
        
    def predict(self, X):
        print("X.shape: ", X.shape)
        # X = np.hstack([np.ones((X.shape[0], 1)), X])
        y_hat = np.dot(X, self.weights_matrix)
        
        return y_hat

In [10]:
# В бой!

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y.flatten(), test_size=0.15, random_state=0)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train, y_train)
my_reg = MyLinearRegression()
my_reg.fit(X_train, y_train)

weights_matrix.shape:  (12,)

MyLinearRegression()

In [12]:
y_pred = my_reg.predict(X_test)

X.shape:  (78, 12)

In [13]:
print("TEST MSE: {:f}".format(mean_squared_error(y_test, y_pred, squared=False)))

TEST MSE: 3495.696694

In [14]:
# Кошмарная ошибка. А что скажет sklearn?

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y.flatten(), test_size=0.15, random_state=0)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train, y_train)
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = my_reg.predict(X_test)
print("TEST MSE: {:f}".format(mean_squared_error(y_test, y_pred, squared=False)))

X.shape:  (78, 12)
TEST MSE: 3495.696694

In [17]:
# Ахаха. По крайней мере, я совпадаю с sklearn'ом, что уже хорошо

In [18]:
# Применим к X логарифмическое преобразование, 
# как это рекомендуется в описании датасета

# СПОЙЛЕР! Это даст лучший результат

In [19]:
X_log = np.log(X)
X_train, X_test, y_train, y_test = train_test_split(X_log, y.flatten(), test_size=0.15, random_state=0)
X_train[X_train == -inf] = 0
X_test[X_test == -inf] = 0

/home/sofia/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [20]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train, y_train)
my_reg = MyLinearRegression()
my_reg.fit(X_train, y_train)

weights_matrix.shape:  (12,)

MyLinearRegression()

In [21]:
y_pred = my_reg.predict(X_test)
print("TEST MSE: {:f}".format(mean_squared_error(y_test, y_pred, squared=False)))

X.shape:  (78, 12)
TEST MSE: 131.023238

In [22]:
# О, стало лучше. А если объединить признаки X и X_log?

In [23]:
X_max = np.concatenate((X, X_log), axis=1)
X_train, X_test, y_train, y_test = train_test_split(X_max, y.flatten(), test_size=0.15, random_state=0)
X_train[X_train == -inf] = 0
X_test[X_test == -inf] = 0

In [24]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train, y_train)
my_reg = MyLinearRegression()
my_reg.fit(X_train, y_train)

weights_matrix.shape:  (24,)

MyLinearRegression()

In [25]:
y_pred = my_reg.predict(X_test)
print("TEST MSE: {:f}".format(mean_squared_error(y_test, y_pred, squared=False)))

X.shape:  (78, 24)
TEST MSE: 1427.542262

In [26]:
# Не очень-то и хотелось

In [27]:
# Проверяем мою регрессию на искусственном датасете, чтобы убедиться,
# что мой датасет действительно сложный

In [28]:
from sklearn.datasets import make_regression
X_art, y_art = make_regression(n_samples=500, n_features=12)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X_art, y_art, test_size=0.15, random_state=0)

In [30]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train, y_train)
my_reg = MyLinearRegression()
my_reg.fit(X_train, y_train)

weights_matrix.shape:  (12,)

MyLinearRegression()

In [31]:
y_pred = my_reg.predict(X_test)
print("TEST MSE: {:f}".format(mean_squared_error(y_test, y_pred)))

X.shape:  (75, 12)
TEST MSE: 17.470858